<div class="container-fluid">
    <div class="btn-group btn-group-sm panel-nav">
        <button [routerLink]="['addcategory']" class="btn">Dodaj Kategorie</button>
        <button [routerLink]="['addsubcategory']" class="btn">Dodaj Podkategorie</button>
        <button [routerLink]="['addproduct']" class="btn">Dodaj Produkt</button>
    </div>


    <div class="row">
        <div class="col-md-3 box">
            <app-tree-view></app-tree-view>

        </div>

        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>