<div class="mainMenu">
  <nav class="navbar navbar-toggleable-md" [ngClass]="{black: navIsFixed}">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#mainNavigation" aria-controls="mainNavigation"
      aria-expanded="false" aria-label="Pokaż lub ukryj nawigację">
      <i class="icon-menu"></i>
    </button>
    <div class="logo">
      SKLEP KNI
    </div>

    <div class="collapse navbar-collapse" id="mainNavigation">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories" routerLinkActive="active">Kategorie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/offer" routerLinkActive="active">Oferta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!authService.isLoggedIn()" routerLink="/login" routerLinkActive="active">Logowanie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!authService.isLoggedIn()" routerLink="/register" routerLinkActive="active">Rejestracja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLinkActive="active" (click)="logout()">Wyloguj sie</a>
        </li>
      </ul>

      <form class="form-inline">
        <input class="form-control center" type="search" placeholder="Szukany produkt">
        <button class="btn btn-outline-info search center" type="submit"><i class="icon-search"></i></button>
      </form>

      <!-- Metoda getRolesArray zwraca pustą tablice nie wiem czemu :(, wiec narazie zrobilem po samym logowaniu -->
      <button *ngIf="checkLog()" type="button" class="admin-panel-button col-md-2 offset-md-2" routerLink="/adminpanel">ZARZĄDZAJ SKLEPEM</button>
    </div>
  </nav>
</div>
